.reviews {
    padding-bottom: 20px;
    h2 {
        padding-bottom: 20px;
        margin: 0;
    }
    &__block {
        display: flex;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    img {
        max-width: 169px;
        max-height: 169px;
        border-radius: 100%;
        background-color: #0d0d0d;
    }
    &__wrapper {
        margin-left: 60px;
        
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        margin-bottom: 8px;
    }
    &__skills {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        margin-bottom: 19px;
    }
    &__comment {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
    }
    hr {
        border: 1px solid;
        border-bottom: none;
        background-color: #f6f6f6;
        height: 1px;
    }
}